@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

:root {
    --cor-texto: #0B3142;
    --cor-botoes: #78832d;
    --cor-card: #4b810a;
    --cor-caixa: #889d45;
    --cor-fundo: #FFFFF2;
}


* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-fundo);
    font-family: "Geist Mono", monospace;
    color: var(--cor-texto);
}

header {
    background-color: var(--cor-caixa);
    /* max-width: 1200px; */
    margin: auto;
    /* padding: 2rem 1rem; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

}

.nav-logo {
    display: flex;
    height: 15vh;
    width: auto;
    margin-left: 30px;
}

a {
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;

}

.links a {
    position: relative;
    padding-bottom: 0.75rem;
    color: var(--cor-fundo);
    font-size: large;
}

.links a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #2F5233;
    transition: all 0.3s ease;
}

.links a:hover::after {
    width: 75%;
}

.links i {
    margin-right: 5px;
    /* display: flex; */
    align-items: center;
}

.btn {
    background: transparent;
    color: black;
    display: flex;
    margin-right: 30px;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
}


.container {
    width: 800px;
    height: 500px;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
        "sidebar";
}

.title-config {
    margin-top: 1rem;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 20%;
    bottom: 60px;
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-right: 2px solid #c7d7b5;
    background: var(--cor-fundo);
}

.sidebar button {
    background-color: #fffff5;
    border: 1px solid #c7d7b5;
    margin-bottom: 1rem;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    border-radius: 20px;
    width: 80%;
    transition: all 0.3s ease-in-out;
}

.sidebar button:hover {
    background-color: var(--cor-botoes);
    color: white;
    transform: translateY(-4px);
}